server:
  port: 8082
spring:
  application:
    name: service-consumer
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
      discovery:
        group: ZHX_GROUP
#        namespace: microservice-example
management:
  endpoints:
    web:
      exposure:
        include: "*"